  <!-- Footer -->
  <footer class="footer bg-dark py-5">
    <div class="container grid grid-3">
      <div>
        <h1>Dev camper</h1>
        <p>Copyright &copy; 2020</p>
      </div>
      <nav class="navbar">
        <ul>
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/home']">Dashboard</a></li>
          <li><a [routerLink]="['/home']">Docs</a></li>
        </ul>
      </nav>
      <div class="social">
        <a href="#"><ion-icon name="logo-github" size="large"></ion-icon></a>
        <a href="#"><ion-icon name="logo-facebook" size="large"></ion-icon></a>
        <a href="#"><ion-icon name="logo-instagram" size="large"></ion-icon></a>
        <a href="#"><ion-icon name="logo-twitter" size="large"></ion-icon></a>
      </div>
    </div>
  </footer>