<!-- Navbar -->
<div class="navbar">
  <div class="container flex">
    <h1 class="title">{{title}}</h1>
    <nav>
      <ul>
        <li><a [routerLink]="['/home']" routerLinkActive="is-active">Home</a></li>
        <li><a [routerLink]="['/register']" routerLinkActive="is-active">Register</a></li>
        <li><a [routerLink]="['/courses']" routerLinkActive="is-active">Bootcamps</a></li>
        <li><a [routerLink]="['/profile']" routerLinkActive="is-active">Profile</a></li>
        <li><a [routerLink]="['/Dashboard']" routerLinkActive="is-active">Dashboard</a></li>
      </ul>
    </nav>
  </div>
</div> 