<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{title}}</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-icon name="school-outline"></ion-icon>
      <ion-icon name="map-outline"></ion-icon>
      <ion-button fill="outline" slot="end" (click)="close()">close</ion-button>
    </ion-item>

    <ion-card-content>{{description}} </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{bootcampTitle}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{bootcampDesc}} </ion-card-content>
  </ion-card>
</ion-content>
