<app-layout>

<section class="layout">
  <input-error [errorMessage]="errorMessage"></input-error>

  <form
    [formGroup]="loginForm"
    class="loginForom"
    (ngSubmit)="onSubmit(loginForm.value)"
  >
    <input-text [form]="loginForm" type="email" name="email" label="Your email">
    </input-text>

    <input-text
      [form]="loginForm"
      type="password"
      name="password"
      label="Your password"
    >
    </input-text>

    <input-submit type="submit" label="login">Login </input-submit>
  </form>
</section>
  
</app-layout>
