<app-layout class="layout">
  <!-- Showcase & register -->
  <section class="showcase">
    <div class="container grid">
      <div class="showcase-text">
        <h1>Find the bootcamp made for you</h1>
        <p>
          With this website your will be able to find the best developper
          bootcamps wit many technologies. You can aslo register has a publisher
          and create your own bootcamp.
        </p>
        <input-submit
          class="btn-outline"
          [routerLink]="['/']"
          color="light"
          fill="outline"
          >Read More</input-submit
        >
      </div>

      <div class="showcase-form card">
        <h2>Login</h2>
        <form
          [formGroup]="loginForm"
          class="loginForm"
          (ngSubmit)="onSubmit(loginForm?.value)"
        >
          <div class="form-control">
            <input-text
              [form]="loginForm"
              type="text"
              label="Email"
              name="email"
              errorRequiredLabel="Please add an email"
            ></input-text>
          </div>
          <div class="form-control">
            <input-text
              [form]="loginForm"
              type="password"
              label="Password"
              name="password"
              errorRequiredLabel="Please add a password"
            ></input-text>
          </div>
          <input-submit type="submit" color="primary">Log In</input-submit>
        </form>
      </div>
    </div>
  </section>

  <!-- Stats -->
  <section class="stats">
    <div class="container">
      <h3 class="stats-heading text-center my-1">What are you waiting for... ?</h3>
      <h2 class="text-center">Come and try a bootcamp !</h2>
      <div class="grid grid-3 text-center my-4">
        <div>
          <ion-icon name="book" size="large"></ion-icon>
          <h3>9</h3>
          <p class="text-secondary">Bootcamps</p>
        </div>
        <div>
          <ion-icon name="book-outline" size="large"></ion-icon>
          <h3>15</h3>
          <p class="text-secondary">Courses</p>
        </div>
        <div>
          <ion-icon name="people" size="large"></ion-icon>
          <h3>40</h3>
          <p class="text-secondary">Users</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Cloud -->
  <section class="cloud bg-primary my-2 py-2">
    <div class="container grid">
      <div class="text-center">
        <h1 class="lg">Awesome videos</h1>
        <p class="lead my-1">
          All our bootcamps are downloadable in HD quality !
        </p>
        <input-submit class="btn" color="dark">Read more</input-submit>
      </div>
      <img src="../../../assets/images/cloud.png" alt="" />
    </div>
  </section>

  <!-- Languages -->
  <section class="languages">
    <h2 class="md text-center my-2">Languages available</h2>
    <div class="container flex">
      <div class="card">
        <h4>Node.js</h4>
        <img src="../../../assets/logos/node.png" alt="" />
      </div>
      <div class="card">
        <h4>Python</h4>
        <img src="../../../assets/logos/python.png" alt="" />
      </div>
      <div class="card">
        <h4>C#</h4>
        <img src="../../../assets/logos/csharp.png" alt="" />
      </div>
      <div class="card">
        <h4>Ruby</h4>
        <img src="../../../assets/logos/ruby.png" alt="" />
      </div>
      <div class="card">
        <h4>PHP</h4>
        <img src="../../../assets/logos/php.png" alt="" />
      </div>
    </div>
  </section>
</app-layout>
