<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Courses</ion-title>
    <ion-back-button slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form
      [formGroup]="courseForm"
      class="courseForm"
      (ngSubmit)="onSubmit(courseForm?.value)"
    >

      <input-text
        [form]="courseForm"
        type="text"
        label="Bootcamp Id"
        name="bootcampId"
      ></input-text>
      <input-submit>Specific course</input-submit>
    </form>

    <input-list
      *ngFor="let course of courses"
      modalTitle="{{course?.title}}"
      modalDescription="{{course?.description}}"
      modalCreatedAt="{{course?.createdAt}}"
      modalBootcampTitle="{{course?.bootcamp?.name}}"
      modalBootcampDesc="{{course?.bootcamp?.description}}"
    >
    </input-list>
  </div>
</ion-content>
